<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Component</title>
    <link rel="stylesheet" href="../../components.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@abcd-aakarsh/bullui@latest/components.css"
    />
  </head>
  <body>
    <div class="card">
      <img
        src="https://images3.alphacoders.com/132/thumbbig-1328396.webp"
        alt="itachi"
        class="card-img"
      />
      <div class="card-content">
        <h2 class="card-title">Itachi Uchiha</h2>
        <p class="card-description">
          Itachi Uchiha, a genius of the Uchiha clan, mastered the Mangekyō
          Sharingan and joined the Akatsuki. Seen as a traitor but truly a hero,
          he sacrificed everything for peace and his brother.
        </p>
        <a href="#" class="card-btn">Explore →</a>
      </div>
    </div>
  </body>
</html>
